<div class="index align-left">
  <section>
    <header>
      <h3>QuestionType1</h3>
    </header>
    <div class="content">

      <h2>#sample question</h2>
      <hr>

      <div id="wrapper" class="divided">
        <section class="wrapper style1 align-center">
          <div class="inner medium">
            <form method="post" action="#">
              <div class="fields">

                <div class="content">

                  <ul class="alt">
                    <li>1.Lorem ipsum dolor sit amet</li>
                    <li>2.Interdum adipiscing gravida odio</li>
                    <li>3.Porttitor sem non integer</li>
                    <li>4.Non faucibus ornare mi ut ante</li>
                    <li>5.Sagittis adipiscing eleifend</li>
                  </ol>

                </div>

              </div>
              <ul class="actions special">
                <li><input type="submit" name="submit" id="submit" value="다음"/></li>
              </ul>
            </form>
          </div>
        </section>
      </div>

    </div>
  </section>

</div>
