<div class="index align-left">
  <section>
    <header>
      <h3>QuestionType2</h3>
    </header>
    <div class="content">

      <h2>#sample question</h2>
      <hr>

      <div id="wrapper" class="divided">
        <section class="wrapper style1 align-center">
          <div class="inner medium">
            <form method="post" action="#">
              <div class="fields">

                <ul class="icons">
                  <li>
                    <a href="#" class="icon style2 fa-twitter">
                      <span class="label">1</span>
                    </a>
                    <p>1</p>
                  </li>
                  <li>
                    <a href="#" class="icon style2 fa-facebook">
                      <span class="label">2</span>
                    </a>
                    <p>2</p>

                  </li>
                  <li>
                    <a href="#" class="icon style2 fa-instagram">
                      <span class="label">3</span>
                    </a>
                    <p>3</p>

                  </li>
                  <li>
                    <a href="#" class="icon style2 fa-github">
                      <span class="label">4</span>
                    </a>
                    <p>4</p>

                  </li>
                  <li>
                    <a href="#" class="icon style2 fa-dribbble">
                      <span class="label">5</span>
                    </a>
                    <p>5</p>

                  </li>
                </ul>

              </div>
              <ul class="actions special">
                <li><input type="submit" name="submit" id="submit" value="다음"/></li>
              </ul>
            </form>
          </div>
        </section>
      </div>

    </div>
  </section>

</div>
