<!-- <section class="wrapper style1 align-center">
  <div class="inner"> -->
    <div class="index align-left">

    <section>
      <header>
        <h3><%= title %></h3>
      </header>
      <div class="content">

        <dl>
          <%# @partner_answers.each_with_index do |answer, i| %>
          <% answers.each_with_index do |answer, i| %>

            <dt><%= i+1 %>. <%= answer.question.text %></dt>
            <dd>
              <p><%= answer.text %></p>
            </dd>

          <% end %>

          <!-- <dt>Non faucibus ornare mi ut ante</dt>
          <dd>
            <p>Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent fringilla quis tincidunt felis sagittis eget tempus euismod.
              Ante ipsum primis vestibulum.</p>
          </dd>

          <dt>Felis amet dolore viverra</dt>
          <dd>
            <p>Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent fringilla quis tincidunt felis sagittis eget tempus euismod.
              Ante ipsum primis vestibulum.</p>
          </dd> -->
        </dl>

      </div>
    </section>
    </div>

  <!-- </div>
</section> -->
