<section class="wrapper style1 align-center">
  <div class="inner">
  <%= render 'form', answers: @partner_answers, title: "상대방 답변" %>
  </div>
</section>

<hr>
<section class="wrapper style1 align-center">
  <div class="inner">
  <div class="index align-left">
    <section>
  <header>
    <h3>Tips</h3>
  </header>
  <div class="content">
    <p>소개팅 할 때 노란색 옷은 피해주세요!</p>
  </div>
</section>
  </div>
  </div>
</section>
