<section class="wrapper style1 align-center">
  <div class="inner">
  <%= render 'form', answers: @partner_answers, title: "상대방 답변" %>
  </div>
</section>

<hr>
<section class="wrapper style1 align-center">
  <div class="inner">
  <div class="index align-left">
    <section>
  <header>
    <h3>Tips</h3>
  </header>
  <div class="content">
    <p>여자 분이 첫 만남에서 밥을 사면 호감도가 크게 오른대요.</p>
  </div>
</section>
  </div>
  </div>
</section>
