<!-- <div class="index align-left">
<section>
<div class="content"> -->

<div id="wrapper" class="divided">
  <section class="wrapper style1 align-center">
    <!-- <div class="inner medium"> -->
    <div class="inner ">
      <div class="fields">
        <div class="field half">
          <%= render 'form', answers: @female_answers, title: "여성 답변" %>
        </div>
        <hr>
        <div class="field half">
          <%= render 'form', answers: @male_answers, title: "남성 답변" %>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- </div>
</section>
</div> -->
